@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body.loading .comma::after,
body.loading .temp::after,
body.loading .hideable {
  opacity: 0%;
}

#current-weather .temp, 
#current-weather .weather {
  -webkit-text-stroke: 3px black;
  font-weight: bold;
}

/* Fahrenheit / Celcius buttons */

#unit-controls button {
  color: rgb(156 163 175);
}

#unit-controls button:hover,
#unit-controls button.active {
  color: white;
}

#unit-controls button.active {
  cursor: default;
}

/* Add the degree symbol for all temps */
.temp::after {
  content: "\00B0";
}

/* Add a comma and a non-breaking space */
.comma::after {
  content: ",\00A0";
}

/* Shadow effects for the bottom-left info to help with
  contrast issues on light backgrounds */

.paper-shadow {
  text-shadow:
    2px 3px 3px rgba(0, 0, 0, 0.5)
}

.paper-shadow-sm {
  text-shadow:
    1px 2px 2px rgba(0, 0, 0, 0.55);
}

.paper-shadow-svg {
  filter: drop-shadow(2px 3px 1px rgba(0, 0, 0, 0.5));
}

/* Rules to create the frosted glass effect */

.frosted-glass {
  backdrop-filter: blur(20px);
}

.frosted-glass-tint {
  backdrop-filter: blur(12px);
  background-color: rgba(0,0,0,0.30);
}

.dropdown {
  box-shadow: 0px 2px 4px 2px rgba(50,50,50,0.6);
}

#sidebar {
  box-shadow: -2px 0px 4px 1px rgba(75,75,75,0.7);
}
